/* Estilos globales */
:root {
  --primary-color: #007BFF;
  --secondary-color: #333;
  --text-color: #333;
  --background-color: #F8F9FA;
  --font-family: 'Inter', sans-serif;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 1rem 0;
  color: var(--primary-color);
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}


